<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todo APp</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
  </head>

  <body>
    <div>
      {% for entry in entries %}
      <div>
        <div>id: {{ entry.id }}, text: {{ entry.text }}</div>
        <form action="/delete" method="post">
          <input type="hidden" name="id" value="{{ entry.id }}" />
          <button type="submit">delete</button>
        </form>
      </div>
      {% endfor %}
    </div>

    <form action="/create" method="post">
      <div>
        <input type="text" name="text" />
      </div>
      <div>
        <button type="submit">create</button>
      </div>
    </form>
  </body>
</html>
